/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Open+Sans:wght@300&display=swap');

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Audiowide', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER TEXT - Layer 2*/
.l2 {
  position: absolute;
  z-index: 2;
}


/* BACKGROUND COLORS*/
#tile-4 {
  background-color: #E2FFBD;
}

#tile-3 {
  background-color: #A2F8FA;
}

#tile-2{
  background-color: #A696D1;
}

#tile-1 {
  background-color: #F2F2F2;
}

#tile-0 {
  background-color: #F2F2F2;
}

/* BORING DETAILS */
.rr{
}


/* rickroll - Layer -1 */
.l3 {
  position: absolute;
  z-index: -1;
}

.rickroll2 {
  background-image: url(https://c.tenor.com/_4YgA77ExHEAAAAC/rick-roll.gif);
  width: full;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
/* BORING DETAILS */

/* new thing */
@media only screen and (max-width: 769px) {
  #thingy {
    margin-top: -14.3em !important;
  }
}

@media only screen and (max-width: 576px) {
  #thingy {
    margin-top: -112em !important;
  }
}