/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Open+Sans:wght@300&display=swap');

.nav-link, .navbar-brand {
  font-family: 'Audiowide', cursive;
}

h2 {
  font-family: 'Audiowide', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER TEXT - Layer 2*/
.l2 {
  position: absolute;
  z-index: 2;
}
