@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Open+Sans:wght@300&display=swap');

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Audiowide', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* BORING DETAILS */
rickroll {
  min-width: 200%;
  min-height: 200%;
}
/* BORING DETAILS */